*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 224, 243);
}
html,body{
    height: 100%;
    width: 100%;
}
body h1{
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
table{
    height: 300px;
    width: 300px;
    padding: 10px 30px;
}
img{
    height: 250px;
    margin-left: 40px;
}
h2{
    height: 40px;
    margin-top: 20px;
    background-color: aquamarine;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 300px;
}
p{
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;
    color: rgb(70, 64, 64);
    margin: 20px;
}
a{
    margin: 20px;
    font-size: 30px;
}
